<div id="home"></div>

<header>
    <img src="https://s3.amazonaws.com/uploads.hipchat.com/119067/1211609/YPHRwe6RdKQ4QSN/rsz_1nirvana-banner.png"></img>
</header>

<div class="container">

    <section class="quote">
        <i><h4>"I'd rather be hated for who I am, than loved for who I am not."</h4></i>
        <h5>Kurt Cobain</h5>
    </section>

    <nav>
        <ul>
            <a href="#home"><li>Home</li></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <li id="dropdown">Feed</li>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#trailer"><li>Trailer</li></a>
        </ul>
        <br><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Nirvana" data-widget-id="557894447837745154">Tweets by @Nirvana</a>
    </nav>

    <iframe src="http://www.youtube.com/embed/8ZemFEssQdo?autoplay=1&showinfo=0&controls=0&modestbranding=1&version=3&loop=1" frameborder="0" allowfullscreen></iframe>
    <div id="trailer"></div>
    
</div>

<footer>
    <ul>
        <a href="https://instagram.com/nirvana"><li><img id="insta" src="http://religiopoliticaltalk.com/wp-content/themes/sixteen-plus/images/instagram.png" /></li></a>
        <a href="https://facebook.com/nirvana"><li><img id="facebook" src="https://s3.amazonaws.com/uploads.hipchat.com/119067/1211609/ZfcQB2hu5q9y6rv/facebook-grey.png"></img></li></a>
        <a href="https://twitter.com/nirvana"><li><img id="twitter" src="http://www.keypersonnel.co.uk/production/keypersonnel/images/twitter_grey-f884f708c02f914cf976064a9b945770.png"></li></a>
    </ul>
</footer>


