<!doctype html>
<html>
<head>
    <title>Nirvana Tumblr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
</head>
<body>

  <%= yield %>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/application.js"></script>
</body>
</html>